<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<html lang="en">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.rtl.min.css"
	integrity="sha384-+4j30LffJ4tgIMrq9CwHvn0NjEvmuDCOfk6Rpg2xg7zgOxWWtLtozDEEVvBPgHqE"
	crossorigin="anonymous">

<title>Account Page</title>
</head>
<body>
	<div class="container">
		<h2 class="p-3 mb-2 bg-light text-dark">
			<span th:inline="text">Balance:
				$[[${#numbers.formatDecimal(transactionsBalance, 0, 'COMMA', 2,
				'POINT')}]]</span>
		</h2>
		<br>

		<table class="table table-bordered table-striped">
			<thead class="thead-dark">
				<tr>
					<th>Transaction Type</th>
					<th>Amount</th>
					<th>Date</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="tempTransaction : ${transactions}">
					<td th:text="${tempTransaction.transactionType}" />
					<td th:text="${tempTransaction.amount}" />
					<td th:text="${tempTransaction.date}" />
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>