<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://code.jquery.com/jquery.min.js"></script>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
	crossorigin="anonymous">
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
	crossorigin="anonymous"></script>

<title>Create Transaction</title>
</head>
<body>
	<div class="container">
		<h3>Create Transaction</h3>
		<hr>
		<form action="#"
			th:action="@{/user/{userId}/account/{accountId}/create-transaction (userId=${user.id}, accountId=${account.id})}"
			method="post" th:object="${transactions}">
			<div class="mb-3">
				<label class="form-label">Transaction Type</label> <select
					class="form-select" th:field="*{transactionType}">
					<option th:value="'Withdraw'" th:text="Withdraw"></option>
					<option th:value="'Deposit'" th:text="Deposit"></option>
				</select>
			</div>
			<div class="mb-3">
				<label class="form-label">Amount</label> <input id="amount" type="text"
					th:field="*{amount}" class="form-control" required>
				<div id="amount-error" style="display: none;color:red;">
					Invalid amount entered
				</div>
			</div>
			<button type="submit" class="btn btn-primary">Submit</button>
			<a th:href="@{/user/{userId}/account/{accountId} (userId=${user.id}, accountId=${account.id})}"
			   class="btn btn-outline-danger"><i class="bi bi-arrow-return-left"></i> Cancel</a>
		</form>
	</div>

<script>
	$( "#amount" ).change(function () {
  if (!$.isNumeric($(this).val())) {
    $(this).val('0').trigger('change');
    $("#amount-error").show();
  } else {
      $("#amount-error").hide();
  }


  var inputValue = $(this).val();
  var parsed = parseFloat(inputValue);
  var parsedFixed = parsed.toFixed(2)
  var parsedReplace = parsedFixed.replace(/(\d)(?=(\d{3})+\.)/g, "$1,");
  $(this).val(parsedReplace);
});
</script>
</body>
</html>