<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<html lang="en">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.rtl.min.css"
	integrity="sha384-+4j30LffJ4tgIMrq9CwHvn0NjEvmuDCOfk6Rpg2xg7zgOxWWtLtozDEEVvBPgHqE"
	crossorigin="anonymous">

<title>User Directory</title>
</head>
<body>
	<div class="container">
		<h3>User Directory</h3>
		<hr>
		<table class="table table-bordered table-striped">
			<thead class="thead-dark">
				<tr>
					<th>ID</th>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Address</th>
					<th>SSN</th>
					<th>DOB</th>
				</tr>
			</thead>

			<tbody>
				<tr th:each="tempUser : ${user}">
					<td th:text="${tempUser.id}" />
					<td th:text="${tempUser.firstName}" />
					<td th:text="${tempUser.lastName}" />
					<td th:text="${tempUser.address}" />
					<td th:text="${tempUser.ssn}" />
					<td th:text="${tempUser.dob}" />
				</tr>
			</tbody>

		</table>

		<table class="table table-bordered table-striped">
			<thead class="thead-dark">
				<tr>
					<th>ID</th>
					<th>Account Type</th>
					<th>Interest Rate</th>
					<th>User_id</th>
				</tr>


			</thead>

			<tbody>
				<tr th:each="tempAccounts : ${account}">
					<td th:text="${tempAccounts.id}" />
					<td th:text="${tempAccounts.accountType}" />
					<td th:text="${tempAccounts.interestRate}" />
					<td th:text="${tempAccounts.userId}" />
				</tr>
			</tbody>

		</table>
		<table class="table table-bordered table-striped">
			<thead class="thead-dark">
				<tr>
					<th>ID</th>
					<th>Transaction Type</th>
					<th>Amount</th>
					<th>Date</th>
					<th>Account_id</th>
				</tr>


			</thead>

			<tbody>
				<tr th:each="tempTransactions : ${transactions}">
					<td th:text="${tempTransactions.id}" />
					<td th:text="${tempTransactions.transactionType}" />
					<td th:text="${tempTransactions.amount}" />
					<td th:text="${tempTransactions.date}" />
					<td th:text="${tempTransactions.accountId}" />
				</tr>
			</tbody>

		</table>
	</div>

</body>
</html>