<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>NavigationBar</title>

</head>
<body>

<nav th:fragment="navbar-logged-in" class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/dashboard">EB Banking</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" th:href="@{/user/{userId}/create-account (userId=${user.id})}">Add Account <i class="bi bi-piggy-bank"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" th:href="@{/user/{userId}/create-transfer (userId=${user.id})}">Transfer <i class="bi bi-arrow-left-right"></i></a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" th:text="${user.firstName} + ' ' + ${user.lastName}">
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" th:href="@{/user/{userId}/edit (userId=${user.id})}">Edit Profile</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/logout">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
</body>
</html>