<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
	crossorigin="anonymous">
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
	crossorigin="anonymous"></script>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
<title>User Page</title>
</head>
<body>
	<div class="container">
		<div th:insert="~{navbar-logged-in :: navbar-logged-in}">  </div>
<!--		<h3>-->
<!--			<span th:remove="tag">Welcome</span> <span-->
<!--				th:text="${user.firstName} + ' ' + ${user.lastName}"></span>-->
<!--		</h3>-->
<!--		<hr>-->
<!--		<table class="table table-bordered table-striped">-->
<!--			<thead class="thead-dark">-->
<!--				<tr>-->
<!--					<th>First Name</th>-->
<!--					<th>Last Name</th>-->
<!--					<th>Address</th>-->
<!--					<th></th>-->
<!--				</tr>-->
<!--			</thead>-->

<!--			<tbody>-->
<!--				<tr>-->
<!--					<td th:text="${user.firstName}" />-->
<!--					<td th:text="${user.lastName}" />-->
<!--					<td th:text="${user.address}" />-->
<!--					<td><a th:href="@{/user/{userId}/edit (userId=${user.id})}"-->
<!--						class="btn btn-secondary btn-sm"><i-->
<!--							class="bi bi-pencil-square"></i> Edit</a></td>-->
<!--				</tr>-->
<!--			</tbody>-->

<!--		</table>-->
<!--		<div class="mb-3">-->
<!--			<a th:href="@{/user/{userId}/create-account (userId=${user.id})}"-->
<!--				class="btn btn-success"><i class="bi bi-piggy-bank"></i> Add-->
<!--				Account</a> <a-->
<!--				th:href="@{/user/{userId}/create-transfer (userId=${user.id})}"-->
<!--				class="btn btn-success"><i class="bi bi-arrow-left-right"></i> Create-->
<!--				Transfer</a>-->
<!--		</div>-->
		<p></p>
		<p></p>
		<div class="row">
			<!-- 		  <div class="col-sm-6 mb-3 mb-sm-3" th:each="tempAccounts : ${userAccounts}"> -->
			<div class="col-sm-3 mb-3 mb-sm-3"
				th:each="tempAccounts : ${userAccounts}">
				<div class="card text-bg-light mb-3">
					<div class="card-body">
						<h5 class="card-title" th:inline="text">Balance:
							$[[${#numbers.formatDecimal(tempAccounts.getAccountBalance, 0,
							'COMMA', 2, 'POINT')}]]</h5>
						<p class="card-text"
							th:text="'Account: ' + ${tempAccounts.accountType} + ' (...' + ${tempAccounts.lastFourDigitsAcctNumber} + ')'"></p>
						<a
							th:href="@{/user/{userId}/account/{accountId} (userId=${tempAccounts.userId}, accountId=${tempAccounts.id})}"
							class="btn btn-primary btn-sm"><i class="bi bi-card-list"></i>
							View Transactions</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>